<h1>User template is injected in users template</h1>
<div class="user-profile">
  <img {{bind-attr src="model.avatarUrl"}} alt="User's avatar"/>
  <h2>{{model.name}}</h2>
  <span>{{model.email}}</span>
  <p>{{model.bio}}</p>
  <span>Created {{model.creationDate}}</span>
  <button {{action "edit"}}>Edit</button>
<button {{action "delete"}}>Delete</button>
 {{#if deleteMode}}
 <div class="confirm-box">
  <h4>Really?</h4>
  <button {{action "confirmDelete"}}> yes </button>
  <button {{action "cancelDelete"}}> no </button>
 </div>
{{/if}}
</div>
{{outlet}}

